
.icon-facebook:before { content: '\6d'; } /* 'm' */
.icon-instagram-1:before { content: '\f05d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */