/* @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); */

div {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h2,p{
    cursor: default;
}
i{
    font-style: normal;
}

/*Logo and Menu*/
.nav{
    display: flex;
    position: fixed;
    width: 100%;
    top:4%;
    height:65px;
    z-index: 100;
    transition: all 0.6s linear;
    /* transition: top .6s ease-in-out; */
}
.hideUp{
    /*For NAV*/
    transform: translateY(-150px);;
}
.nav-right{
    width: 70%;
    display: flex;
}
.logo{
    /*for圖片*/
    /* -webkit-filter: invert(100%);
    filter: invert(100%);  CSS3 */
    padding: 0 0 0 4%;
    padding-right:4px;
    /*for 文字*/
    font-family: 'Special Elite', cursive;/*打字機款*/
    color:#282828; 
}
.logo h1{
    white-space: nowrap;
    margin:0 auto;
    line-height: 65px;
    color:#555;
    font-size: 30px;
}
.burger-menu{
    position: absolute;
    left: 13%;
    width: 44px;
    height: 44px;
    /* line-height: 65px; */
    margin:10px 10px;
    display:flex;
    color:#282828;
    cursor: pointer;
    border:1px rgba(0,0,0,.2) solid;    
}
.line{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding:16px 0px;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:102%;    
}
.top, .middle, .bottom{
    height: 1px;
    background-color:#282828;
    width:18px;
}
.menu-cover{
    position:fixed;
    top:0;
    left: 0;
    z-index: 99;
    background:#fff;
    height: 100%;
    width:100%;
    transform: translate(0%, -100%) matrix(1,0,0,1,0,0);
    overflow: hidden;
}
.menu-content{
    width: 20%;
    margin:0 auto;
    padding:142px 0 122px;
    height:auto;
}
.menu-content ul{
    list-style: none;
}
.menu-content a{
    display: flex;
}
.menu-content i{
    color:#b4a69d;
    font-weight: 400;
    line-height: 22px;
    margin-right:8px;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}
.menu-content b {
    font-family: 'TheinhardtLight';
    line-height: 45px;
    font-size: 30px;
    font-weight: 100;
    color:#333;
    font-family: 'Cairo', sans-serif;
}
.social{
    display: none;
    /* display: inline-flex; */
    padding:0 4%;
    line-height: 65px;
}
.social-content b{
    font-family: 'Abel', sans-serif;
    font-size: 14px;
}
.social-content b:after{
    content: '';
    height: 2px;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    color:#63635f;
}
.icon-instagram-1:before{
    content:'\f05d';
    font-family: "fontello";
    font-size: 14px;
}


/*Project Content*/
/*橫幅*/
.page-content{
    height: 100%;   /*我有問題 !! :請問高是需要一層一層設定的嗎??*/
}
.main-content{
    height: 100%;
}
.primary{
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
}
.bg{
    background: #b4a69d;
    /* background: yellowgreen; */
    opacity:.7;
    width: 85%;
    height: 75%;
    position: absolute;
    top:140px;
}
.top-left{
    height:100%;
    display: flex;
    width: 30%;
    position: relative;
}
.top-left .title-box{
    display: flex;
    cursor: default;
    flex-direction: column-reverse;
    position: absolute;
    left:15%;
    top:73%;
    white-space: nowrap;
}
.title-box h1, .title-box h2{
    margin:0;
}
.pre-title{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 5px 0;
    /* color: #b4a69d; */
    color:dimgray;
    font-family: 'Rajdhani', sans-serif;
}
.pre-title:after{
    display: inline-block;
    content: "";
    width: 34px;
    height: 2px;
    margin: 2px 12px;
    /* background: #b4a69d; */
    background:dimgray;
}
.title{
    font-family: 'Caveat', cursive;
    font-family: 'Crafty Girls', cursive;
    color:#282828;
    font-size: 31px;
    font-weight: 400;
}
.sub-title{
    position: absolute;
    transform: rotate(270deg) translateX(-1%);
    color:rgba(40,40,40,.1);
    font-size: 97px;
    font-weight: 400;
    align-self: flex-start;
    letter-spacing: 2px;
    cursor: default;
}
.sub-title h3{
    margin:0;
}
.top-right{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 70%;
    z-index: 5;
}

.div-img{
    align-self: center;
}
.top-right img{
    width: 100%;
    /* height:500px; */
}

.words{
    margin-top: 12%;
    width: 47%;
    text-align: justify;
    align-self: center;
}
.words div{
    margin-bottom:20px;
}
.words h1{
    font-family: 'Special Elite', cursive;
    color:dimgrey; 
}
.words h2{
    margin:0 0 10px 0;
    font-family: 'Rajdhani', sans-serif;
    /* font-weight: 400; */
    color:white;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 34px;
}
.words p{
    font-family: "Roboto", "Noto Sans TC", "Noto Sans CJK TC", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    margin:0;
    line-height: 21px;
    font-size: 17px;
    letter-spacing: 0.03em;
}
.words .mail{
    cursor: default;;
    margin:0px;
    text-align: center;
    margin-top: 43px;
}
.icon-paper-plane{
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#282828;   
    font-family: 'Special Elite', cursive;
    font-family: 'Crafty Girls', cursive;
}




/*ipad橫、ASUS橫*/
@media screen and (orientation:landscape) and (max-width:1200px) and (max-height:800px){
    .nav{
        top:3%;
    }
    .nav-right{
        width: 100%;
        justify-content: space-between;
    }
    .burger-menu{
        position: relative;
        left: auto;
        margin:10px 4%;
    }
    .logo h1{
        font-size: 28px;
    }
    .menu-content {
        width: 23%;
        padding: 18% 0 122px;
    }
    .bg{
        width: 80%;
        height: 60%;
    }
    .top-left{
        width:30%;
    }
    .top-left .title-box{
        left: 15%;
        top: 65%;
    }
    .pre-title{
        font-size: 13px;
    }
    .title{
        font-size: 28px;
    }
    .sub-title{
        font-size: 82px;
    }
    .top-right{
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
    }
    .words{
        top: 20%;
        left: 10%;
        width: 56%;
        margin-top: 12%;
        align-self: center;
    }
    .words p{
        font-size: 20px;
        line-height: 22px;
    }
    .words .mail{
        margin-top: 30%;
    }
    .div-img{
        width:36%;
        align-self: center;
        margin: 33% 0 0 0;
    }
    .div-img img{
        width:100%;
        height: 100%;
    }
}
/*ipad直、ASUS直*/
@media screen and (orientation:portrait) and (max-width:800px) and (max-height:1200px){
    .nav{
        top:3%;
    }
    .logo h1{
        font-size: 28px;
    }
    .nav-right {
        width: 100%;
        justify-content: space-between;
    }
    .burger-menu{
        position: relative;
        /* left: 20%; */
        left:auto;
        margin:10px 4%;
    }
    .menu-content{
        width: 30%;
        padding: 27% 0 122px;
    }
    .bg{
        width: 80%;
        height: 65%;
    }
    .top-left {
        width: 25%;
    }
    .top-left .title-box {
        left: 21%;
        top: 79%;
    }
    .title{
        font-size: 28px;
    }
    .pre-title{
        font-size: 13px;
    }
    .sub-title{
        font-size: 82px;
        transform: rotate(270deg) translateX(7%);
        left:190%;
    }
    .top-right {
        flex-direction: row;
        justify-content: flex-end;
        width: 75%;
    }
    .words{
        text-align: justify;
        position: absolute;
        top: 20%;
        left: 8%;
        align-self: center;
        width: 45%;
        margin-top: 0px;
    }
    .div-img{
        align-self: center;
        margin-top:80%;
        width:55%;
    }
    .words .mail{
        margin-top: 70px;
        text-align: -webkit-auto;
    }
    .icon-mail{
        font-size: 20px;
        letter-spacing: 3px;
    }
}
/*ipadpro直、MINE直、MAC直*/
@media screen and (orientation:portrait) and (min-width:768px) and (min-height:1366px){
    .nav{
        top:3%;
    }
    .nav-right{
        width:100%;
        justify-content: space-between;
    }
    .logo h1{
        font-size: 29px
    }
    .burger-menu{
        position: relative;
        left: auto;
        margin:10px 4%;
    }
    .menu-content {
        width: 23%;
        padding: 27% 0 122px;
    }
    .bg{
        width: 80%;
        height: 65%;
        top:13%;/*直的！所以只有IPADPRO會呈現出來!*/
    }
    .top-left{
        width:30%;
    }
    .top-left .title-box {
        left: 30%;
        top: 80%;
    }   
    .pre-title{
        font-size: 14px;
    }
    .title{
        font-size: 32px;
    }
    .sub-title{
        font-size: 82px;
        left:190%;
    }
    .top-right{
        flex-direction: row;
        justify-content: flex-end;
        width: 70%;
    }
    .words{
        margin-top:0;
        position: absolute;
        top:23%;
        left: 10%;
        align-self: flex-start;
        width: 50%;
        text-align: justify;
    }
    .words h2{
        letter-spacing:2px;
    }
    .words p{
        font-size: 22px;
        line-height: 28px;
    }
    .words .mail{
        margin-top:100px;
        text-align: left; 
    }
    .icon-mail{
        font-size: 23px;
        letter-spacing: 3px;
    }
    .div-img{
        width:50%;
        align-self: center;
        margin-top:80%;
    }
    .div-img img{
        width:100%;
    }
}
/*ipadpro橫、MINE橫、MAC橫*/
@media screen and (orientation:landscape) and (min-width:1366px) and (min-height:768px){
    .nav{
        top:3%;
    }
    .logo h1{
        font-size: 29px;
    } 
    .nav-right{
        width: 100%;
        justify-content: space-between;
    }
    .burger-menu{
        position: relative;
        left:auto;
        margin:10px 4%; 
    }
    .menu-content {
        width:17%;
        padding: 18% 0 122px;
    }
    .bg{
        width: 89%;
        height: 60%;
    }
    .top-left{
        width:30%;
    }
    .top-left .title-box{
        left: 18%;
        top: 60%;
    }
    .pre-title{
        font-size: 14px;
    }
    .title{
        font-size: 32px;
    }
    .sub-title{
        font-size: 82px;
    }
    .top-right{
        width: 70%;
        flex-direction: row;
        justify-content: flex-end;
    }
    .words{
        position: absolute;
        top:10%;
        left:29%;
        width: 40%;
        margin-top: 110px;
        align-self: center;
        text-align: justify;
    }
    .words p{
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.05em;
    }
    .words .mail{
        margin-top:0; 
        position: absolute;
        top: 140%;
        left: 20%;
    }
    .icon-mail{
        font-size: 24px;
        letter-spacing: 4px;
    }
    .div-img{
        width:37%;
        align-self: center;
        margin: 27% 0 0 0;
    }
    .div-img img{
        width:100%;
        height: auto;
    }
}
/*1680*/
@media screen and (orientation: landscape) and (min-width: 1680px) and (max-height:1200px){
    .nav{
        top:4%;
    }
    .logo h1{
        font-size: 30px;
    }
    .nav-right{
        width: 70%;
    }
    .burger-menu {
        position: absolute;
        left: 12%;
        margin: 10px 10px;
    }
    .menu-content{
        width:  13%;
        padding:230px 0 122px;
    }
    .top-left{
        width:30%;
    }
    .sub-title {
        font-size: 97px;
        left: 17%;
    }
    .top-right{
        width:70%;
        justify-content: flex-end;
    }
    .words{
        width:38%;
    }
    .words h2{
        font-size: 33px;
    }
    .words p{
        font-size: 25px;
    }
    .icon-mail{
        font-size: 22px;
    }

}
/*1920*/
@media screen and (orientation: landscape) and (min-width:1680px) and (max-width: 2560px){
    .nav{
        top:4%;
    }
    .nav-right{
        width:70%;
    }
    .bg{
        height: 70%;
    }
    .logo h1{
        font-size: 30px;
    }
    .burger-menu {
        position: absolute;
        left: 11%;
        margin: 10px 10px;
    }
    .menu-content{
        width:  13%;
        padding:230px 0 122px;
    }
    .top-right{
        justify-content: flex-end;
    }
    .top-left .title-box {
        left: 15%;
        top: 70%;
    }
    .title{
        font-size: 38px;
    }
    .pre-title{
        font-size: 15px;
    }
    .words{
        width:35%;
        text-align: justify;
    }
    .words h2{
        font-size: 36px;
    }
    .words p{
        font-size: 28px;
        line-height: 35px;
    }
    .icon-mail{
        font-size: 25px;
    }

}



/*FOR手機版 直*/
@media screen and (orientation:portrait) and (min-width:320px) and (max-height:812px){
    .nav-right{
        width: 100%;
        justify-content: space-between;
    }
    .menu-content {
        width: 50%;
        margin: 0 auto;
        padding: 120px 0 122px;
    }
    .menu-content i{
        font-size: 13px;
    }
    .menu-content b{
        font-size: 26px;
    }
    .pre-title{
        color:#b4a69d;
    }
    .pre-title:after{
        background:#b4a69d;
    }
    .div-img img{
        height:100%;
    }

}
/*iphoneX 直*/
@media screen and (orientation:portrait) and (max-height:812px) and (max-width:375px){
    .nav{
        top:0%;
        justify-content: space-between
    }
    .nav.hideUp{
        transform: translateY(-150px);;
    }
    .logo h1{
        font-size: 26px;
    }
    .burger-menu{
        position: relative;
        left: auto;
        margin:10px 10px;
    }
    .menu-content {
        width: 50%;
        margin: 0 auto;
        padding: 120px 0 122px;
    }
    .menu-content b{
        font-size: 26px;
    }
    .menu-content i {
        font-size: 13px;
    }
    .primary{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .bg{
        width: 100%;
        height: 98%;
        top: 44%;
    }
    .top-left{
        width: 100%;
        height: 32%;
        margin-bottom: 6%;
        flex-direction: row-reverse;
    }
    .top-left .title-box{
        left: 6%;
        top: 66%;
    }
    .title{
        font-size: 27px;
    }
    .sub-title{
        font-size: 45px;
        left:43%;
    }
    .top-right{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .words{
        margin: 3%;
        top:80%;
        left:0;
        text-align: justify;
        width: 350px;
    }
    .words h2{
        font-size: 24px;
    }
    .words p{
        font-size: 15px;
        line-height: 20px
    }
    .words .mail{
        margin-top: 70px;
        margin-bottom: 6%;
        text-align: center;
    }
    .div-img{
        width:70%;
        margin:0;
        align-self: center
    }

}
/*iphone6 直*/
@media screen and (orientation:portrait) and (max-height:667px) and (max-width:375px){
    .nav{
        top:0%;
        justify-content: space-between
    }
    .nav.hideUp{
        transform: translateY(-150px);;
    }
    .logo h1{
        font-size: 26px;
    }
    .burger-menu{
        position: relative;
        left: auto;
    }
    .primary{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .bg{
        width: 100%;
        height: 98%;
        top: 44%;
    }
    .top-left{
        width: 100%;
        height: 32%;
        margin-bottom: 6%;
        flex-direction: row-reverse;
    }
    .top-left .title-box{
        left: 6%;
        top: 66%;
    }
    .title{
        font-size: 27px;
    }
    .sub-title{
        font-size: 45px;
        left:43%;
    }
    .top-right{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .words{
        margin: 3%;
        top:88%;
        left:0;
        text-align: justify;
        width: 350px;
    }
    .words h2{
        font-size: 24px;
    }
    .words p{
        font-size: 15px;
        line-height: 20px
    }
    .words .mail{
        margin-top: 70px;
        margin-bottom: 6%;
        text-align: center;
    }
    .div-img{
        width:70%;
        margin:0;
        align-self: center
    }

}
/*iphone6+ 直*/
@media screen and (orientation:portrait) and (max-height:736px) and (min-width:414px){
    .nav{
        top:0%;
        justify-content: space-between
    }
    .nav.hideUp{
        transform: translateY(-150px);;
    }
    .logo h1{
        font-size: 27px;
    }
    .menu-content {
        width: 50%;
        margin: 0 auto;
        padding: 120px 0 122px;
    }
    .menu-content i{
        font-size: 13px;
    }
    .menu-content b{
        font-size: 26px;
    }
    .burger-menu{
        position: relative;
        left: auto;
        margin:10px 10px;
    }
    .primary{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .bg{
        width: 100%;
        height: 95%;
        top: 44%;
    }
    .top-left{
        width: 100%;
        height: 32%;
        margin-bottom: 6%;
        flex-direction: row-reverse;
    }
    .top-left .title-box{
        left: 6%;
        top: 66%;
    }
    .title{
        font-size: 27px;
    }
    .sub-title{
        font-size: 50px;
        left:45%;
    }
    .top-right{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .words{
        margin: 3%;
        top:88%;
        left:21px;
        text-align: justify;
        width: 350px;
    }
    .words h2{
        font-size: 24px;
    }
    .words p{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.03em;
    }
    .words .mail{
        margin-top: 70px;
        margin-bottom: 6%;
        text-align: center;
    }
    .div-img{
        width:70%;
        margin:0;
        align-self: center
    }
}
/*i5直*/
@media screen and (orientation:portrait) and (max-width:320px){
    .nav{
        top:0%;
        justify-content: space-between
    }
    .nav.hideUp{
        transform: translateY(-150px);;
    }
    .logo h1{
        font-size: 25px;
    }
    .menu-content {
        padding: 120px 0 122px;
        width: 65%;
    }
    .menu-content b {
        font-size: 26px;
    }
    .menu-content i{
        font-size: 13px;
    }
    .burger-menu{
        position: relative;
        left: auto;
    }
    .sub-title{
        left: 36%;
        font-size: 44px;
    }
    .title{
        font-size: 25px;
        line-height: 22px;
    }
    .primary{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .bg{
        height:115%;
    }
    .top-right{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .div-img{
        padding-top: 2%;
    }
    .words{
        width:88%;
        margin:6%;
    }
    .words h2{
        font-size: 24px;
    }
    .words p{
        font-size: 15px;
        line-height: 20px;
        letter-spacing:0.03em;
    }
    .words .mail{
        margin-top: 70px;
        margin-bottom: 6%;
        text-align: center;
    }

}

/*-------------------------------------IPHONE橫*/
@media screen and (orientation:landscape) and (max-width:812px) and (min-height:320px){
    .nav{
        top:0%;
    }
    .nav.hideUp{
        transform: translateY(-150px);;
    }
    .logo h1{
        font-size: 26px;
    }
    .nav-right{
        width:100%;
        justify-content: space-between;
        margin-left: 0;
    }
    .social{
        display: none;
    }
    .burger-menu{
        left:auto;
        position: relative;
        margin:10px 4%;
    }
    .menu-content{
        padding:80px 0 90px;
        width:37%; /*I5*/
    }
    .menu-content i{
        font-size: 13px;
    }
    .menu-content b{
        font-size: 26px;
        line-height: 36px
    }
}
/*i6~i6+~IX 橫*/
@media screen and  (orientation:landscape) and (max-height:414px) and (max-width:812px){
    .logo h1{
        font-size: 27px;
    }
    .bg{
        height: 83%;
        top: 50px;
    }
    .menu-content{
        width: 27%;/*I6+*/
    }
    .top-left{
        width:20%;
        height:100%;
    }
    .top-right{
        width: 80%;
        height: 100%;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .top-left .title-box{
        left: 8%;
        margin-bottom: 4%;
        top: 75%;
    }
    .pre-title:after{
        width:25px;
        margin: 2px 8px;
    }
    .title{
        font-size: 22px;
        line-height: 22px;
    }
    .sub-title{
        font-size: 61px;
    }
    .words{
        width: 50%;
        height: 65%;
        margin: 0;
        align-self: center;
        text-align: justify;
    }
    .words div{
        margin-bottom: 5px;
    }
    .words div h2{
        margin-bottom: 0;
    }
    .words h2{
        font-size: 23px;
    }
    .words p{
        font-size: 14px;
        line-height: 19px
    }
    .words .mail{
        margin-top: 35px;
        text-align: center;
        position: relative;
    }
    .icon-mail{
        font-size: 14px;
    }
    .div-img{
        width:35%;
        margin:0;
        align-self: flex-end;
    }
}
/*i5橫*/
@media screen and (orientation:landscape) and (max-height:320px) and (min-width:568px){
    .logo h1{
        font-size: 25px;
    }
    .menu-content{
        width:60%;
        margin:0 auto;
    }
    .burger-menu{
        position: relative;
        left: auto;
    }
    .bg{
        height: 82%;
        top:42px;
    }
    .top-left{
        width:20%;
    }
    .top-right{
        width:80%;
        justify-content:space-evenly;
    }
    .top-left .title-box{
        right: 0;
        margin-bottom: 4%;
        top: 72%;
    }
    .title{
        font-size: 18px;
    }
    .sub-title{
        font-size: 48px;
        left: -29%;
    }
    .pre-title:after{
        display: none;
    }
    .words{
        width:56%;
        left:0;
    }
    .words div{
        margin-bottom: 2px;
    }
    .words h2{
        font-size: 20px;
        line-height: 24px;
    }
    .words p{
        font-size: 12px;
        line-height: 18px
    }
    .words .mail{
        left: 0;
        margin-top: 0px;
        text-align: center;
        position: relative;
    }
    .div-img{
        width:33%;
        margin:0;
        align-self: flex-end;
    }

}
/*iphone6橫*/
@media screen and  (orientation:landscape) and (min-height:375px) and (max-width:812px){
    .logo h1{
        font-size: 26px;
    }
    .menu-content{
        width: 32%;
    }
    .title{
        font-size: 20px;
    }
    .sub-title{
        left: -12%;
    }
    .top-right{
        justify-content: space-evenly;
    }
    .words{
        height: 68%;
    }
    .words h2{
        font-size: 22px;
        line-height: 23px;
    }
}
/*IX橫*/
@media screen and (orientation:landscape) and (min-width:812px) and (max-height:375px){
    .logo h1{
        font-size: 26px;
    }
    .top-left .title-box{
        left:12%;
        top:76%;
    }
    .words{
        height: 62%;
    }
    .menu-content{
        width: 26%;
    }
    .sub-title{
        left: -7%;
    }
}