div {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}

/*Logo and Menu*/
.nav{
    display: flex;
    position: fixed;
    width: 100%;
    top:60px;
    height:65px;
    z-index: 100;
    transition: all 0.6s linear;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    width: 70%;
}
.hideUp{
    /*For NAV*/
    top:-155px;
}
.logo{
    /*for圖片*/
    /* -webkit-filter: invert(100%);
    filter: invert(100%);  CSS3 */
    padding: 0 0 0 4%;
    padding-right:4px;
    /*for 文字*/
    font-family: 'Special Elite', cursive;/*打字機款*/
    font-size: 25px;
    color:#282828; 
}
.logo h1{
    margin:0 auto;
    line-height: 65px;
    color:#555;
}
/* .logo img {
    width: 80%;
} */
.burger-menu{
    width: 44px;
    height: 44px;
    /* line-height: 65px; */
    margin:10px 10px;
    display:flex;
    color:#282828;
    cursor: pointer;
    border:1px rgba(0,0,0,.2) solid;    
}
.line{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding:16px 0px;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:102%;    
}
.top, .middle, .bottom{
    height: 1px;
    background-color:#282828;
    width:18px;
}
.menu-cover{
    position:fixed;
    top:0;
    left: 0;
    z-index: 99;
    background:#fff;
    height: 100%;
    width:100%;
    transform: translate(0%, -100%) matrix(1,0,0,1,0,0);
    overflow: hidden;
}
.menu-content{
    width: 33.5%;
    margin:0 33%;
    padding:142px 0 122px;
    height:auto;
}
.menu-content ul{
    list-style: none;
}
.menu-content a{
    display: flex;
}
.menu-content i{
    color:#b4a69d;
    font-weight: 400;
    line-height: 22px;
    margin-right:8px;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}
.menu-content b {
    font-family: 'TheinhardtLight';
    line-height: 45px;
    font-size: 30px;
    font-weight: 100;
    color:#333;
    font-family: 'Cairo', sans-serif;
}
.social{
    display: flex;
    align-items: center;
    padding:0 4%;
    white-space: nowrap;
}
.social-content b{
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    position: relative;
    padding: 0 60px 0 0 ;
    letter-spacing: 1px;
}
.social-content b:after{
    content: '';
    height: 2px;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    background-color:#63635f;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 34px;
}
.icon-instagram-1:before{
    content:'\f05d';
    font-family: "fontello";
    font-size: 100%;
    color:#63635f;
}
.icon-facebook:before{
    content:'\6d';
    font-family: "fontello";
    font-size: 100%;
    color:#63635f;
}


/*Project 專案列表*/
.main-content{
    padding-top: 150px;
    width:100%;
}
.box-content{
    width:100%;
    display: flex;
    flex-wrap: wrap;/*內容物斷行*/
}
.col-left{
    width:50%;
    height: auto;
    position: relative;
    margin:56px 0;
}
.box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width:100%;
}
.col-left:nth-child(1) .content-img{
    width:66%;
}
.content-img{
    width:53.5%;
    height:100%;
    position: relative;
}
.col-left:nth-child(3) .content-img{
    width:40%;
}

.box-img{
    width:320px;
    height:216px;
    background-repeat: none;
    background-position: center center;
    background-size: cover;
}

.overlay{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
}
.wrapper-text{
    z-index: 9;
    position: absolute;
    left: 59%;
    top:48%;
    align-self: flex-end;
}
.box-content .col-left:nth-child(2) .wrapper-text, .box-content .col-left:nth-child(3) .wrapper-text{
    left: 20%;
    top:10%;
}
.box-title{
    white-space: nowrap;
}
.box-title h1{   
    font-family: 'Dosis', sans-serif;
    color:#444;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 30px;
    margin-top: 0;
    margin-bottom:.5rem;
}
.box-title h1 b{
    padding: 0 14px;
    background: #FFF;
}



/*ipad*/
/*橫*/
@media screen and (min-width:992px) and (max-width:1100px){
    /* .box-img{
        width:243px;
        height:164px;
    } */
    .box-title h1{
        font-size:25px
    }
    .wrapper-text{
        left: 70%;
        top: 54%;
    }
    .box-content .col-left:nth-child(2) .wrapper-text{
        left: 16%;
        top:10%;
    }
    .box-content .col-left:nth-child(3) .wrapper-text{
        left: 21%;
    }

}

/*直立*/
@media screen and (max-width:768px){
    .col-left{
        width: 100%;
    }
    .col-left:nth-child(odd) .content-img{
        width:40%
    }
    .col-left:nth-child(even) .content-img{
        width:60%;
    }
    .menu-content{
        padding: 219px 0 122px;
    }
    .box-content .col-left:nth-child(2) .wrapper-text{
        left: 14%;
        top:10%;
    }
    .box-content .col-left:nth-child(3) .wrapper-text{
        left: 59%;
        top:10%;
    }
}
/*iphone橫*/
@media screen and (orientation:landscape) and (max-width:736px){
    .nav{
        top:2%;
        white-space: nowrap;
    }
    .hideUp{
        top:-150px;
    }
    .logo h1{
        font-size: 27px;
    }
    .main-content{
        padding-top: 10%;
    }
    .col-left:nth-child(odd) .content-img{
        width: 53%;;
    }
}
/*iphone直*/
@media screen and (orientation:portrait) and (max-height:736px){
    .nav{
        top:0;
        white-space: nowrap;
    }
    .hideUp{
        top:-150px;
    }
    .logo h1{
        font-size: 27px;
    }
    .nav-right{
        width: 100%;
        justify-content: space-between;
    }
    .social{
        display: none;
    }
    .main-content{
        padding-top: 10%;
    }
    .col-left:nth-child(odd) .content-img{
        width: auto;
    }
    .col-left:nth-child(even) .content-img{
        width: auto;
    }
    .wrapper-text{
        left:61%;
    }
    .box-content .col-left:nth-child(3) .wrapper-text, .box-content .col-left:nth-child(2) .wrapper-text{
        left:3%;
    }
    .box-title h1{
        font-size: 27px;
    }
}
/*I5直*/
@media screen and (orientation:portrait) and (max-width:320px){
    .col-left:nth-child(odd) .content-img{
        width:100%;
    }
}