/*   -----------------------    for ipad     ------------------------   */
@media screen and (min-width:769px) and (max-width: 992px){



div {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
/*標題與漢堡選單*/
.nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:60px;
    height:65px;
    z-index: 100;
    transition: all 0.6s linear;
}
.nav-right{
    display: flex;
    margin-left: 4%;
    /* width: 70%; */
}
.hideUp{
    /*For NAV*/
    top:-155px;
}
.logo{
    /* padding: 0 0 0 4%; */
    padding-right:4px;
    font-family: 'Special Elite', cursive;/*打字機款*/
    font-size: 25px;
    color:#282828;
}
.logo h1{
    margin:0 auto;
    line-height: 65px;
    color:#555;
}
.burger-menu{
    width: 44px;
    height: 44px;
    margin:10px 10px;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color:#282828;
    cursor: pointer;
    border:1px rgba(0,0,0,.2) solid;
    
}
.line{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding:16px 0px;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:102%;    
}
.top, .middle, .bottom{
    height: 1px;
    background-color:#282828;
    width:18px;
}
.menu-cover{
    position:fixed;
    top:0;
    left: 0;
    z-index: 99;
    background:#fff;
    height: 100%;
    width:100%;
    transform: translate(0%, -100%) matrix(1,0,0,1,0,0);
    overflow: hidden;
}
.menu-content{
    width: 33.5%;
    margin:0 auto;
    padding:280px 0 122px;
    height:auto;
}
.menu-content ul{
    list-style: none;
}
.menu-content a{
    display: flex;
}
.menu-content i{
    color:#b4a69d;
    font-weight: 400;
    line-height: 22px;
    margin-right:8px;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}
.menu-content b {
    font-family: 'TheinhardtLight';
    line-height: 45px;
    font-size: 30px;
    font-weight: 100;
    color:#333;
    font-family: 'Cairo', sans-serif;
}
.social{
    width:27%;
    display: flex;
    align-items: center;
    padding:0 4%;
}
.social-content b{
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    position: relative;
    padding: 0 60px 0 0 ;
    letter-spacing: 1px;
}
.social-content b:after{
    content: '';
    height: 2px;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    background-color:#63635f;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 34px;
    /* margin: -1px 0; */
}
.icon-instagram-1:before{
    content:'\f05d';
    font-family: "fontello";
    font-size: 100%;
    color:#63635f;
}
.icon-facebook:before{
    content:'\6d';
    font-family: "fontello";
    font-size: 100%;
    color:#63635f;
}


/*輪播圖*/
.slider-area{
    position: relative;
    padding-top:200px;
}
.slider {
    position: relative;
    width: 70%;
    height: 500px;
    margin: auto;
}

.bg {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('./img/photo-1486728297118-82a07bc48a28.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: #909090;
    transform: translate(-100%, 0);
}

.text-box {
    position: absolute;
    top: 62%;
    left: -120px;
    font-size: 2.5em;
    overflow: hidden;
}

.text-box-2 {
    top: 76%;
    font-size: 2.5em;
}

.text {
    display: inline-block;
    padding: 0 6px;
    background-color: #fff;
}

.text-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #282828;
    transform: translate(100%, 0);
}

/*左邊輪播圖按鈕*/
.custom-page{
    position: absolute;
    top:40%;
    left:0%;
    width: 10%;
    line-height: 3;
    color:#282828;
    font-family: 'Theinhardt', sans-serif;
}
.item-link {
    position: relative;
    min-height: 37px;
}
.item-link > section{
    position: absolute;
    top:50%;
    height: 1px;
    width: 80%;
    background: rgba(40, 40, 40, .1);
}
.item-link b {
    font-size: 13px;
    /* font-family: 'Theinhardt', sans-serif; */
    font-family: 'Abel', sans-serif;
    position: absolute;
    left: 100%;
    margin:0 3px;
    cursor: pointer;
}
.item-link .b::after {
    content: '';
    height: 2px;
    background: #282828;
    position: absolute;
    top:65%;
    left: 0;
    margin-top:2px;
    transition: all 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.item-link.active .b::after {
    width: 100%;
}
/*滑動圖文區*/
.page-content{
    padding:0 4%;
}
.page-content>section{
    padding:150px 0;
}
.row-one, .row-two, .row-three{
    /* position: relative; */
    display: flex;
    justify-content: center;
    font-size: 0;
}
.col-two article, .col-three article, .col-six article{
    padding:10%;
    display: flex;
}
.col-three{
    height:295px;
    display: flex;
    justify-content: flex-end;
}
.col-three article{
    align-items: center;
}
.col-three article>div{
    text-align: end;
    width: 100%;
}
.pre-title{
    position: relative;
}
.pre-title b{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 5px 0;
    color:#b4a69d;
    font-family: 'Rajdhani', sans-serif;    
}
.pre-title span{
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   background:#282828;
}
.col-one{
    overflow: hidden;
}
.col-one a{
    position: relative;/*設相對位置來讓animate left作用*/
    display: block;
    overflow: hidden;
    height: 455px;
    /* transform: translate3d(383px,0,0) */
}
.col-one img{
}
.col-one span{
    position: relative;
    height: 100%;
    width: 383px;
    display: block;
    background: #b4a69d;
    transform: translate(0%, 0%);
}
.row-one .pre-title b:after, .row-three .pre-title b:after{
    content: '';
    width:34px;
    height:2px;
    margin:2px 12px;
    background: #b4a69d;
    display: inline-block;
}
.col-three .pre-title b::before{
    content: '';
    width:34px;
    height:2px;
    margin:2px 12px;
    background: #b4a69d;
    display: inline-block;
}
.col-one, .col-three, .col-five{
    width:50%;
    text-align:-webkit-right;
    overflow: hidden;   /*先讓中間線出來! 之後再調整*/
}
.col-two, .col-four, .col-six{
    width:50%;
    text-align: left;
    overflow: hidden;
}
.title{
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Caveat', cursive;
    color:#282828;
    margin-bottom:10px;
    font-size: 35px;
    position: relative;
}
.title span{
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #282828;
}
.hidden{
    height: -webkit-fill-available;
    overflow: hidden;
}
.label-btn{
    /* display: flex; */
    position: relative;
    /* transform: translate3d(90px, 0px, 0px); */
}
.label-btn b{
    color:#4e4e4e;
    letter-spacing: 1px;
    line-height: 1.2em;
    height:1.2em;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}
.label-btn span{
    position: absolute; /*我有問題::flex元素想要重疊物件*/
    top:8px;
    left:38px;
    height: 1em;
    width: 58%;
    background: #b4a69d;
    opacity: .5;
    font-size: initial;
    /* transition: width 2s; Hover與改變的對象要一致才能作用 */
}
.label-btn .modal{
    left:-58% !important;
    background: white !important;
}

.label-btn b:hover + .modal{
    left: 58%;
    transition: left 0.4s 
}
.row-one .label-btn span, .row-three .label-btn span{
    position: absolute; /*我有問題::flex元素想要重疊物件*/
    top:9px;
    left:12px;
    height: 1em;
    width: 58%;
    background: #b4a69d;
    opacity: .5;
    font-size: initial;
} 


/*下方補充圖文區*/
.bottom-area{
    /* padding-top:180px;
    padding-bottom:180px; */
    padding:10% 10%;
    /* padding-left: 17.6%;
    padding-right:18.1%; */
    /* margin-left:-4%;
    margin-right:-4%; */
    opacity: 1;
}
.bottom-container{
    width:100%;
}
.row{
    display: flex;
    flex-direction: row;

}

.col-left, .col-right{
    display: flex;
    width: 50%;
}
.col-right{
    justify-content: flex-end;
}
.overlay{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,.7);
}
.col-left .col-bg, .col-right .col-bg{
    background-image: url(img/10533800_700416273363434_8463850696732086619_n.jpg);
    width:20%;
    height:88%;
    align-self: center;
}
.col-bg{
    filter:grayscale(100%);
    background-size: cover;
    opacity: .8;
}
.col-title{
    /* font-family:'Caveat', cursive; 不適合*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#444;
}
.col-text{
    width:60%;
}
.col-left .col-text{
    margin-left: -2%;
    z-index: 2;
}
.col-right .col-text{
    text-align: right;
    margin-right: -2%;
    z-index: 2;
}
.col-content{
    margin:15px 0;
    color: rgba(51, 51, 51, .35);
    line-height: 1.2em;
}
.col-btn a{
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding:0 6px;
    letter-spacing: 1px;
    color:#4e4e4e;
    height:1.2em;
    line-height: 1.2em;
    position: relative;
}
.col-btn span{
    position: absolute;
    top:10px;
    left: 0;
    height: 1em;
    width: 100%;
    opacity: .5;
    background: #b4a69d;
    z-index: 1;
}

/*Footer*/
footer{
    padding-bottom: 15px;
}
.footer-container{
    padding: 0 13%;
    width:100%;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.col-last ul{
    list-style: none;
}
.col-last ul li, .col-email h3, .col-info h3{
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.2em;
    height: 1.2em;
}
.col-last ul li a{
    color:#333;
    border-bottom: 2px solid #b4a69d;
}
.col-email h3, .col-info h3{
    color:#333;
}
.col-last, .col-email, .col-info, .row-last{
    display: inline-block;
    padding:0 30px;
}
.row-last{
    display: inline-flex;
}


}
/*IPAD直*/
@media screen and (orientation:portrait) and (min-height:1024px){
    .nav{
        top:2%;
    }
    .hideUp{
        top:-150px;
    }
    .logo h1{
        font-size: 27px;
    }
    .menu-content{
        width: 20%;
        padding: 27% 0 122px;
    }
    .slider{
        width: 85%;
        height: 500px;
        margin:0;
    }
    .bg{
        width:92%;
    }
    .slider-area{
        padding-top: 170px;
        display: flex;
        justify-content: flex-end;
    }
    .text-box{
        left: -10%;
    }
    .text{
        white-space: nowrap;
    }
    .text-1{
        font-size: 37px;
    }
    .text-box-2{
        font-size: 37px;
        top:75%
    }
    .bottom-area{
        display: block;
    }
    .col-last ul{
        padding: 0;
    }
    .col-info, .col-email{
        padding: 0 0;
    }
}
/*IPADPRO 直*/
@media screen and (orientation:portrait) and (min-width:1024px){
    .logo h1{
        font-size: 30px;
    }
    .slider-area{
        padding-top: 180px;
    }
    .col-last ul{
        padding: 0;
    }
    .col-info, .col-email{
        padding: 0 0;
    }
}

/*-------------------------------------IPHONE直*/
@media screen and (orientation:portrait) and (min-width:320px) and (max-height:800px){
    .nav{
        top:0;
    }
    .hideUp{
        top:-150px
    }
    .logo h1{
        font-size:26px;
    }
    .menu-content{
        padding: 120px 0 122px;
        width: 40%;
    }
    .menu-content i{
        font-size: 12px;
    }
    .menu-content b{
        font-size: 27px;
    }
    .social{
        display: none;
    }
    .nav-right{
        width: 100%;
        justify-content: space-between;
    }
    .slider{
        width: 85%;
        height: 460px;
        margin:0;
    }
    .bg{
        width:92%;
    }
    .slider-area{
        padding-top: 90px;
        display: flex;
        justify-content: flex-end;
    }
    .text-box{
        left: -11%;
    }
    .text{
        white-space: normal;
        font-size: 25px;
    }
    .text-box-2{
        font-size: 25px;
        top:78%
    }
    .bottom-area{
        display: none;
    }
    .footer-container{
        padding: 0 4%;
    }
    .footer-row{
        justify-content: center;
    }
    .row-last{
        padding: 0 4%;
    }
    .col-last{
        display: none;
    }
    .col-info, .col-email{
        padding: 0 0;
    }
}
/*I5直*/
@media screen and (orientation:portrait) and (min-width:320px) and (max-height:568px){
    .nav{
        top:0;
    }
    .hideUp{
        top:-150px;
    }
    .title b{
        font-size: 30px
    }
}
/*I6直*/
@media screen and (orientation:portrait) and (max-width:375px) and (min-height:667px){
    .nav{
        top:0%;
    }
    .hideUp{
        top:-150px;
    }
    .logo h1{
        font-size: 25px;
    }
    .slider-area{
        padding-top: 100px;
    }
    .slider{
        height: 500px
    }
    .text{
        white-space: normal;
    }
    .text-box-2{
        top:76%;
    }
}
/*I6+直*/
@media screen and (orientation:portrait) and (max-width:414px) and (min-height:736px){
    .logo h1{
        font-size: 27px;
    }
    .slider{
        height: 500px;
    }
    .slider-area{
        padding-top: 120px;
    }
    .text{
        white-space: normal;
    }
    .text-box-2{
        top:76%
    }

}

/*-------------------------------------IPHONE橫*/
/*I5橫*/
@media screen and (orientation:landscape) and (min-height:320px) {
    .nav{
        top:0;
    }
    .logo h1{
        font-size:24px;
    }
    .hideUp{
        top:-150px
    }
    .menu-content{
        padding: 80px 0 122px;
    }
    .menu-content i{
        font-size: 12px;
    }
    .menu-content b{
        font-size: 25px;
    }
    .social-content{
        font-size: 12px;
    }
    .social-content b{
        font-size: 12px;
    }
    .slider-area{
        padding-top: 100px;
    }
    .page-content{
        width: 100%;
    }
    .text-box{
        white-space: normal;
        left: -15%;
    }
    .text-box-1{
        font-size: 30px;
    }
    .text-box-2{
        top:72%;
        font-size: 27px;
    }
    .bottom-area{
        width: 80%;
    }
    .col-last ul{
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .col-last, .row-last{
        padding: 0;
    }
    .col-info, .col-email{
        padding: 0 10px;
    }
    .footer-container{
        padding: 0 8%;
        width: 100%;
    }
}
/*I6橫*/
@media screen and (orientation:landscape) and (min-height:375px){
    .nav{
        top:4%;
    }
    .logo h1{
        font-size:27px;
    }
    .hideUp{
        top:-150px
    }
    .slider-area{
        padding-top: 150px;
    }
    .text-box{
        left:-13%;
    }
    .text-box-1{
        font-size: 36px;
        white-space: nowrap;
    }
    .text-box-2{
        font-size: 32px;
        top:74%;
    }
    .bottom-area{
        width: 80%;
    }
    .col-last ul{
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .col-last, .row-last{
        padding: 0;
    }
    .col-info, .col-email{
        padding: 0 10px;
    }
    .footer-container{
        padding: 0 8%;
        width: 100%;
    }

}
/*I6+橫*/
@media screen and (orientation:landscape) and (min-height:414px){
    .nav{
        top: 4%;
    }
    .hideUp{
        top:-150px
    }
    .footer-container{
        padding: 0 8%;
        width: 100%;
    }
    .col-last, .row-last{
        padding: 0;
    }
    .col-info, .col-email{
        padding: 0 15px;
    }
    .text-box{
        left:-13%;
    }
    .text-box-1{
        font-size: 38px;
        white-space: nowrap;
    }
    .text-box-2{
        font-size: 35px;
        top:76%;
    }
}
/*IPADPRO橫*/
@media screen and (orientation:landscape) and (max-height:1024px) and (min-width:1366){
    .menu-content {
        padding: 18% 0 122px;
    }
    .menu-content ul{
        padding-left: 8%;
    }
}